body{
    background-color: #222831;
}

form, h1{
    display:flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: #eeeeee
}

.todo-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 30%;
    list-style: none;
}
.todo-div{
    margin: 0.5rem;
    background:#393e46;
    color: white;

}
.todo-item{
    color:#eeeeee;
}
.line-through{
    text-decoration: line-through;
}